# --------------------------------------
# Python
# --------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

# --------------------------------------
# Environments
# --------------------------------------
.env
.env.dev
.env.production
*.env

# --------------------------------------
# Docker
# --------------------------------------
Dockerfile*
docker-compose.yml

# --------------------------------------
# OS / Editor junk
# --------------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# --------------------------------------
# Cache + Logs
# --------------------------------------
*.log
logs/
tmp/
.cache/
.mypy_cache/
pytest_cache/

# --------------------------------------
# Virtual environments
# --------------------------------------
venv/
.venv/

# --------------------------------------
# Git
# --------------------------------------
.git/
.gitignore

# --------------------------------------
# Byte compiled / C Extensions / Wheels
# --------------------------------------
wheelhouse/

# --------------------------------------
# Database Files (SQLite)
# --------------------------------------
*.db
*.sqlite3

# --------------------------------------
# Test artifacts
# --------------------------------------
coverage.xml
htmlcov/
